.containerStyle{
    padding : 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.tagBoxStyle{
    flex-basis: 20vw;
    /* align-content: flex-start; */
    /* margin-right: 100px; */
}
.tagStyle{
    width : 200px;
    background-color: #FFC4C4;
    padding: 10px;
    margin: 5px;
}

.graphStyle{
    max-width: 80vw;
}
@keyframes  anim{
    
}