.containerStyle{
    padding : 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.tagBoxStyle{
    flex-basis: 15vw;
}
.tagStyle{
    width : 200px;
    background-color: #FFC4C4;
    padding: 10px;
    margin: 5px;
}

.graphStyle{
    flex-basis: 80vw;
    max-width: 80vw;
}